# Configurações do banco de dados H2
spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:

  # Configurações do Hibernate
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate.ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate.format_sql: true

  # Configurações do console H2
  h2:
    console:
      enabled: true
      path: /h2-console

